div {
  flex: 1;
}
.mat-dialog-actions {
  justify-content: flex-end;
}

h3 {
  margin-top: 5%;
  color: rgb(131, 130, 130);
}
.general {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  font-family: Andale Mono, monospace;
  table {
    border-spacing: 3px !important;
    width: 100%;
    border: 1px solid rgb(131, 130, 130);
    height: 100%;
  }
  tr:nth-child(even) {
    background-color: #f6f4f4;
  }
  tr.item td {
    border-bottom: 1px solid rgb(170, 168, 168);
    color: #7a6464;
  }
  th {
    width: 30%;
    text-align: left;
    color: #666565;
    border-bottom: 1px solid rgb(170, 168, 168);
  }
}

.transactions {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  table {
    font-family: Andale Mono, monospace;
    width: 100%;
    border: none;
    .w40 {
      flex: 0 0 40% !important;
      width: 40% !important;
    }
    .w20 {
      flex: 0 0 20% !important;
      width: 20% !important;
    }
  }
  .element-row {
    cursor: pointer;
  }

  tr.element-row:not(.transaction-expanded-row):hover {
    background: whitesmoke;
  }

  tr.element-row:not(.transaction-expanded-row):active {
    background: #efefef;
  }
}
