<div mat-dialog-content>
  <h3> General Information </h3>
  <div class="container">
    <table class="general">
      <tr class="item" *ngFor="let key of arrayOfKeys">
        <th> {{stringifyService.formalizeBlockRawUnit(key)}} </th>
        <td> {{arrayOfJsons[key]}} </td>
      </tr>

    </table>

    <h3>Transactions</h3>
    <div class="transactions">
      <div>
        <table #table mat-table accent [dataSource]="arrayOfTransactions" class="mat-elevation-z0"
          multiTemplateDataRows>
          <ng-container matColumnDef="hash">
            <th class="w-40" mat-header-cell *matHeaderCellDef> Hash </th>
            <td mat-cell *matCellDef="let element"> {{element.hash}}?? </td>
          </ng-container>

          <ng-container class="w-20" matColumnDef="fee">
            <th mat-header-cell *matHeaderCellDef> Fee </th>
            <td mat-cell *matCellDef="let element"> {{element.fee}} </td>
          </ng-container>

          <ng-container matColumnDef="weight">
            <th class="w-20" mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <!-- The expanded transaction: Details are the same as tx -->
          <!-- <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedDetails">
              <div class="row element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
                <mat-list>
                  <div mat-subheader>Size:  {{element.size}}</div>
                     <mat-list-item >
                      <div mat-line>{{element.relayed_by}}</div>
                      <div mat-line>{{element.block_height}}</div>
                  </mat-list-item> 
                </mat-list>
              </div>
            </td>
          </ng-container> -->

          <tr mat-header-row *matHeaderRowDef="displayedFeaturesTx"></tr>

          <tr mat-row *matRowDef="let row; columns: displayedFeaturesTx;" class="element-row"></tr>

          <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']; "
            class="transaction-detail-row">
          </tr> -->
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>

</div>

<div mat-dialog-actions style="display: flex; justify-content: flex-end;width: 100%;">
  <span></span>
  <div style="margin-right: auto; display: flex; justify-content: flex-end;">
    <button mat-raised-button (click)="close()">Close</button>
  </div>
</div>